@page
@model HR_Management_System.Pages.ManageSalaryDetailsModel
@{
    ViewData["Title"] = "ManageSalaryDetails";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
    <body>
        <div class="container-fluid">
            <script language="javascript" type="text/javascript">
    function getXMLHTTP() { //fuction to return the xml http object
        var xmlhttp = false;
        try {
            xmlhttp = new XMLHttpRequest();
        }
        catch (e) {
            try {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
                }
                catch (e1) {
                    xmlhttp = false;
                }
            }
        }

        return xmlhttp;
    }

    function check_duplicate_emp_id(val) {
        var base_url = 'http://localhost/HRMS-FRESH/';
        var strURL = base_url + "admin/global_controller/check_duplicate_emp_id/" + val;
        var req = getXMLHTTP();
        if (req) {
            req.onreadystatechange = function() {
                if (req.readyState == 4) {
                    // only if "OK"
                    if (req.status == 200) {
                        var result = req.responseText;
                        if (result) {
                            $("#id_error_msg").append(result);
                            document.getElementById('btn_emp').disabled = true;
                        } else {
                            document.getElementById('btn_emp').disabled = false;
                        }

                    } else {
                        alert("There was a problem while using XMLHTTP:\n" + req.statusText);
                    }
                }
            }
            req.open("POST", strURL, true);
            req.send(null);
        }

    }
    ;
    function get_employee_by_designations_id(designation_id) {
        var base_url = 'http://localhost/HRMS-FRESH/';
        var strURL = base_url + "admin/global_controller/get_employee_by_designations_id/" + designation_id;
        var req = getXMLHTTP();
        if (req) {
            req.onreadystatechange = function() {
                if (req.readyState == 4) {
                    // only if "OK"
                    if (req.status == 200) {
                        var result = req.responseText;

                        $("#employee").html("<option value='' >Select Employee...</option>");
                        $("#employee").append(result);

                    } else {
                        alert("There was a problem while using XMLHTTP:\n" + req.statusText);
                    }
                }
            }
            req.open("POST", strURL, true);
            req.send(null);
        }

    }
    ;
    function check_current_password(val) {
        var base_url = 'http://localhost/HRMS-FRESH/';
        var strURL = base_url + "admin/global_controller/check_current_password/" + val;
        var req = getXMLHTTP();
        if (req) {
            req.onreadystatechange = function() {
                if (req.readyState == 4) {
                    // only if "OK"
                    if (req.status == 200) {
                        var result = req.responseText;
                        if (result) {
                            $("#id_error_msg").css("display", "block");
                            document.getElementById('sbtn').disabled = true;
                        } else {
                            $("#id_error_msg").css("display", "none");
                            document.getElementById('sbtn').disabled = false;
                        }

                    } else {
                        alert("There was a problem while using XMLHTTP:\n" + req.statusText);
                    }
                }
            }
            req.open("POST", strURL, true);
            req.send(null);
        }

    }
    function check_employee_password(val) {

        var base_url = 'http://localhost/HRMS-FRESH/';
        var strURL = base_url + "employee/dashboard/check_employee_password/" + val;

        var req = getXMLHTTP();
        if (req) {
            req.onreadystatechange = function() {
                if (req.readyState == 4) {
                    // only if "OK"
                    if (req.status == 200) {
                        var result = req.responseText;
                        if (result) {
                            $("#id_error_msg").css("display", "block");
                            document.getElementById('sbtn').disabled = true;
                        } else {
                            $("#id_error_msg").css("display", "none");
                            document.getElementById('sbtn').disabled = false;
                        }

                    } else {
                        alert("There was a problem while using XMLHTTP:\n" + req.statusText);
                    }
                }
            }
            req.open("POST", strURL, true);
            req.send(null);
        }

    }
    ;
            </script>
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrap-fpanel">
                        <div class="panel panel-default">
                            <!-- *********     Employee Search Panel ***************** -->
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <strong>Manage Salary Details</strong>
                                </div>
                            </div>
                            <form id="form" role="form" enctype="multipart/form-data" action="http://localhost/HRMS-FRESH/admin/payroll/manage_salary_details" method="post" class="form-horizontal form-groups-bordered" novalidate="novalidate">
                                <div class="panel-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-sm-12 form-groups-bordered">
                                            <div class="form-group" id="border-none">
                                                <label for="field-1" class="col-sm-3 control-label">Select Designation <span class="required" aria-required="true">*</span></label>
                                                <div class="col-sm-5">
                                                    <select name="designations_id" class="form-control" onchange="get_employee_by_designations_id(this.value)">
                                                        <option value="">Select Designations.....</option>
                                                        <optgroup label="sells">
                                                            <option value="1" selected="">manager</option>
                                                        </optgroup>

                                                        <optgroup label="Marketing">
                                                            <option value="2">Manager</option>
                                                        </optgroup>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="border-none">
                                                <label for="field-1" class="col-sm-3 control-label">Employee  <span class="required" aria-required="true">*</span></label>
                                                <div class="col-sm-5">
                                                    <select name="employee_id" id="employee" class="form-control">
                                                        <option value="">Select Employee...</option>
                                                        <option value="2" selected="">Al Amin</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="border-none">
                                                <label for="field-1" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-5">
                                                    <button id="submit" type="submit" name="sbtn" value="1" class="btn btn-primary btn-block">GO</button>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- ******************** Employee Search Panel Ends ******************** -->
                </div>
                
                <form id="form_validation" role="form" enctype="multipart/form-data" action="http://localhost/HRMS-FRESH/admin/payroll/save_salary_details/1" method="post" class="form-horizontal form-groups-bordered" novalidate="novalidate">
                    <div class="wrap-fpanel">
                        <!-- ********************************* Salary Details Panel ***********************-->
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <strong>Salary Details</strong>
                                    </div>
                                </div>
                                <div class="panel-body ">

                                    <div class="row">
                                        <div class="col-sm-12 form-groups-bordered">
                                            <div class="form-group" id="border-none">
                                                <label for="field-1" class="col-sm-12 control-label">Employment Type <span class="required" aria-required="true">*</span></label>
                                                <div class="col-sm-12">
                                                    <select name="employment_type" class="form-control">
                                                        <option value="">Select Employment Type ...</option>
                                                        <option value="1">Provision</option>
                                                        <option value="2" selected="">Permanent</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="border-none">
                                                <label for="field-1" class="col-sm-12 control-label">Basic Salary <span class="required" aria-required="true">*</span></label>
                                                <div class="col-sm-12">
                                                    <input type="text" name="basic_salary" value="20000" class="salary form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ***************** Salary Details  Ends *********************-->

                        <!-- ******************-- Allowance Panel Start **************************-->
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <strong>Allowances</strong>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="">
                                        <label class="control-label">House Rent Allowance </label>
                                        <input type="text" name="house_rent_allowance" value="1500" class="salary form-control">
                                    </div>
                                    <div class="">
                                        <label class="control-label">Medical Allowance </label>
                                        <input type="text" name="medical_allowance" value="500" class="salary form-control">
                                    </div>
                                    <div class="">
                                        <label class="control-label">Special Allowance </label>
                                        <input type="text" name="special_allowance" value="500" class="salary form-control">
                                    </div>
                                    <div class="">
                                        <label class="control-label">Fuel Allowance </label>
                                        <input type="text" name="fuel_allowance" value="100" class="salary form-control">
                                    </div>
                                    <div class="">
                                        <label class="control-label">Phone Bill Allowance </label>
                                        <input type="text" name="phone_bill_allowance" value="1000" class="salary form-control">
                                    </div>
                                    <div class="">
                                        <label class="control-label">Other Allowance </label>
                                        <input type="text" name="other_allowance" value="100" class="salary form-control">
                                    </div>
                                </div>
                            </div>
                        </div><!-- ********************Allowance End ******************-->
                        
                        <!--            ************** Deduction Panel Column ************** -->
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <strong>Deductions</strong>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="">
                                                <label class="control-label">Provident Fund </label>
                                                <input type="text" name="provident_fund" value="3500" class="deduction form-control">
                                                                    </div>
                                                <div class="">
                                                    <label class="control-label">Tax Deduction </label>
                                                    <input type="text" name="tax_deduction" value="100" class="deduction form-control">
                                                                    </div>
                                                    <div class="">
                                                        <label class="control-label">Other Deduction </label>
                                                        <input type="text" name="other_deduction" value="100" class="deduction form-control">
                                                                    </div>
                                                    </div>
                                                </div>
                                            </div><!-- ****************** Deduction End  *******************-->
                                                        <!-- ************** Total Salary Details Start  **************-->
                                                        <div class="col-sm-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="panel-title">
                                                            <strong>Total Salary Details</strong>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="">
                                                            <label class="control-label">Gross Salary </label>
                                                            <input type="text" name="provident_fund" disabled="" value="23700" id="total" class="form-control">
                                                                    </div>
                                                            <div class="">
                                                                <label class="control-label">Total Deduction </label>
                                                                <input type="text" name="tax_deduction" disabled="" value="3700" id="deduc" class="form-control">
                                                                    </div>
                                                                <div class="">
                                                                    <label class="control-label">Net Salary </label>
                                                                    <input type="text" name="tax_deduction" disabled="" value="20000" id="net_salary" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- ****************** Total Salary Details End  *******************-->
                                                    </div>
                                                    <div class="col-sm-12 margin pull-right">
                                                        <button id="salery_btn" type="submit" class="btn btn-primary btn-block">Save</button>
                                                    </div>

                                                    <!--    ************************* Hidden Input Data *******************-->
                                                    <input type="hidden" name="employee_id" value="2">
                                                </form>
                                                </div>
                        
                        <script type="text/javascript">
                            $(document).on("change", function() {
    var sum = 0;
                            var deduc = 0;
    $(".salary").each(function() {
                                sum += +$(this).val();
                            });

    $(".deduction").each(function() {
                                deduc += +$(this).val();
                            });
                            var ctc = $("#ctc").val();

                            $("#total").val(sum);
                            $("#deduc").val(deduc);
                            var net_salary = 0;
                            net_salary = sum - deduc;
                            $("#net_salary").val(net_salary);


                        });
                        </script>
                    </div>

</body>

