@{
    ViewData["Title"] = "Home Page";
}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PC Link IT</title>
        <link rel="stylesheet" type="text/css" href="~/css/style_index.css">

    </head>

    <body>
        <!--header-->
        <header class="main-header" id="header">
            <div class="bg-color">
                <!--nav-->
                <!--/ nav-->
                <div class="container text-center head-title white" >
                    <div class="wrapper fadeInUp delay-05s">
                       
                        <h2 class="top-title" style="z-index: 5;font-size: 27px;font-weight: 700;color: #fff;line-height: 38px;letter-spacing: 4px;opacity: 1;text-transform: uppercase;padding-top:150px">Welcome To</h2>
                        <h3 class="title"style="font-size: 123px;font-weight: 700;color: #fff;line-height: 88px;letter-spacing: 4px;opacity: 1;text-transform: uppercase;padding: 25px 0px;">PC Link IT</h3>
                       
                    </div>
                </div>
            </div>
        </header>
        <!--/ header-->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <section class="section-padding fadeInUp delay-05s" id="contact">
            <div class="container">
                <div class="row white">
                    <div class=" col-sm-12">
                        <div class="section-title">
                            <h2 class="head-title black">About Us</h2>
                            <hr class="botm-line">
                            <p class="white" style="text-align:justify">
                                PC Link IT is a unique and well known software firm in Dhaka since 1994. We provide software solution and support our customer at 24*7.
                                Our Product is Anirban ERP, Microfin Anirban, Energy Anirban, PIPL Career Soution, Microfinance, Accounting, Recruitment Management System(RMS),
                                Human Resource Management System(HRM), Payroll Management System(PMS), Point Of Sale System(POS), Fixed Asset Management System (FAMS),
                                Fund Management System (FMS), Vehicle Management System(VMS).
                            </p>
                            <!--
                        <p class="sec-para black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                        -->


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding fadeInUp delay-05s" id="contact" style="margin-top:50px">
            <div class="container">
                <div class="row white">
                    <div class=" col-sm-12">
                        <div class="section-title">
                            <h3 class="head-title black" >Visit Us</h3>
                            <hr class="botm-line">
                            <div class="location-info">
                                <p class="white"><span aria-hidden="true" class="fa fa-map-marker"></span>22/1, Block-B(3rd floor), Babar Road Mohammadpur, Dhaka</p>
                                <p class="white"><span aria-hidden="true" class="fa fa-phone"></span>Mobile: 019-70000429</p>
                                <p class="white"><span aria-hidden="true" class="fa fa-envelope"></span>Email: <a href="" class="link-dec">info@pclink.com.bd</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
