@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <div class="container text-center">
            <div class="wrapper wow fadeInUp delay-05s">
                <h2 class="top-title">Welcome To</h2>
                <h3 class="title">PC Link IT</h3>
                <!--/
            <h4 class="sub-title">We Create amazing designs</h4>
            <button type="submit" class="btn btn-submit">Download Now</button>
            -->

               
            </div>
        </div>
    </div>
