@page
@model HR_Management_System.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["User_Name"] = "Shakir";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




    <h2>DashBoard</h2>