@page
@model HR_Management_System.Pages.LoginPageModel

@{
    ViewData["Title"] = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>Login Page</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <h4>Use a local account to Log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <small><span asp-validation-for="UserName" class="text-danger"></span></small>
                    @if (Model.WrongUsername == true)
                    {
                        <small><span class="text-danger">Username doesn't exist</span></small>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <small><span asp-validation-for="Password" class="text-danger"></span></small>
                    @if (Model.WrongPassword == true)
                    {
                        <small><span class="text-danger">Wrong password</span></small>
                    }
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>

            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}