@page
@model HR_Management_System.Pages.Make_a_cvModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Make_a_cv";
   Layout = "~/Views/Shared/_CareerLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

   

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Recruitment Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400i">
    <style>
        /*body {
            font-family: "Comic Sans MS", sans-serif;
            background: #4ca5ff;
            margin: 0px;
            width:unset;
        }*/

        h2 {
            background: #0037ff;
            text-align: center;
            padding: 5px;
            color: white;
        }

        td {
            padding: 7px;
        }

        input {
            height: 25px;
            border-radius: 10px;
            border: none;
        }

            input:focus, teaxtarea:focus {
                outline: none;
                border: 1px solid #0037ff;
            }

        textarea {
            border-radius: 10px;
        }

        .button {
            background-color: #0037ff;
            color: white;
            font-size: 18px;
            padding: 3px 25px;
            border: none;
            margin-bottom: 20px;
        }

            .button:hover {
                cursor: pointer;
                box-shadow: 7px 7px 7px yellow;
            }
    </style>
</head>
<body>

    <h1 align="center">Make A CV</h1>

    <!--Personal Details-->

    <form action="">
        <div id="personal-information">
            <h2>Personal Information</h2>
            <table>
                <tr>
                    <td>First Name</td>
                    <td>
                        <input type="text" size="25">
                    </td>
                    <td>Last Name</td>
                    <td>
                        <input type="text" size="25">
                    </td>
                </tr>
                <tr>
                    <td>Father's Name</td>
                    <td>
                        <input type="text" size="25">
                    </td>
                    <td>Mother's Name</td>
                    <td>
                        <input type="text" size="25">
                    </td>
                </tr>
                <tr>
                    <td>Present Address</td>
                    <td>
                        <textarea cols="25" rows="5"></textarea>
                    </td>
                    <td>Permanent Address</td>
                    <td>
                        <textarea cols="25" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>
                        <input type="Number" size="25">
                    </td>
                    <td>Mobile Number</td>
                    <td>
                        <input type="Number" size="25">
                    </td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>
                        <input type="date">
                    </td>
                    <td>Place of Birth</td>
                    <td>
                        <input type="text" size="25">
                    </td>
                </tr>
                <tr>
                    <td>Select Gender</td>
                    <td>
                        <select>
                            <option value="select">Select One</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </td>
                    <td>Maritual Status</td>
                    <td>
                        <select>
                            <option value="select">Select One</option>
                            <option value="married">Married</option>
                            <option value="single">Single</option>
                            <option value="divorced">Divorced</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>National ID Card Number</td>
                    <td>
                        <input type="Number">
                    </td>
                    <td>Religion</td>
                    <td>
                        <select>
                            <option value="islam">Islam</option>
                            <option value="hindu">Hindu</option>
                            <option value="christian">Christian</option>
                            <option value="boddho">Boddho</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Nationality</td>
                    <td>
                        <input type="text" size="25">
                    </td>
                    <td>Personal Email</td>
                    <td>
                        <input type="text" size="25">
                    </td>
                </tr>
            </table>
        </div>

        <!--Educational Details-->

        <div id="education-details">
            <h2>Educational Information</h2>
            <table >
                <tr>
                    <td>SNo</td>
                    <td>Qualification</td>
                    <td>Major in Subject</td>
                    <td>Institute/ University</td>
                    <td>Year of Passing</td>
                    <td>Result/ Grade</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="text" size="20">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
            </table>
        </div>

        <!--Training Experience-->

        <div id="work-experience">
            <h2>Professional Training Information</h2>
            <table>
                <tr>
                    <td>SNo</td>
                    <td>Company Name</td>
                    <td>Company Address</td>
                    <td>Role/ Responsibilities</td>
                    <td colspan="2">Duration (From - To)</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <textarea cols="20" rows="5"></textarea>
                    </td>
                    <td>
                        <textarea cols="20" rows="5"></textarea>
                    </td>
                    <td>
                        <textarea cols="20" rows="5"></textarea>
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <textarea cols="20" rows="5"></textarea>
                    </td>
                    <td>
                        <textarea cols="20" rows="5"></textarea>
                    </td>
                    <td>
                        <textarea cols="20" rows="5"></textarea>
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                </tr>
            </table>
        </div>

        <!--Other Details-->
        <div id="other-information">
            <h2>Other Information</h2>
            <table width="100%">
                <tr>
                    <td>Blood Group</td>
                    <td>
                        <select>
                            <option value="select">
                                Select One
                            </option>
                            <option value="A+">
                                A+
                            </option>
                            <option value="A-">
                                A-
                            </option>
                            <option value="B+">
                                B+
                            </option>
                            <option value="B-">
                                B-
                            </option>
                            <option value="O+">
                                O+
                            </option>
                            <option value="O-">
                                O-
                            </option>
                            <option value="AB+">
                                AB+
                            </option>
                            <option value="AB-">
                                AB-
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Upload Your Picture</td>
                    <td>
                        <input type="file" name="picture" accept="image">
                    </td>
                    <td>Upload Your Signature</td>
                    <td>
                        <input type="file" name="signature" accept="image">
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="1">
                        <input type="checkbox">
                    </td>
                    <td>
                        This is to inform that, All the above mentioned information is correct as per my knowledge.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center">
                        <input type="submit" value="Submit" class="button">
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
