@page
@model HR_Management_System.Pages.EmployeePages.Leave_ApplicationModel
@{
    ViewData["Title"] = "Leave_Application";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="row">

    <div class="margin">
        <div class="col-md-12">
            <div class="main_content">
                <div class="row">

                    <div class="col-md-12">
                        <script type="text/javascript" defer="" async="" src="https://track.uc.cn/uaest.js"></script>
                        <script language="javascript" type="text/javascript">
    function getXMLHTTP() { //fuction to return the xml http object
        var xmlhttp = false;
        try {
            xmlhttp = new XMLHttpRequest();
        }
        catch (e) {
            try {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
                }
                catch (e1) {
                    xmlhttp = false;
                }
            }
        }

        return xmlhttp;
    }

    function check_duplicate_emp_id(val) {
        var base_url = 'http://localhost/HRMS-FRESH/';
        var strURL = base_url + "admin/global_controller/check_duplicate_emp_id/" + val;
        var req = getXMLHTTP();
        if (req) {
            req.onreadystatechange = function() {
                if (req.readyState == 4) {
                    // only if "OK"
                    if (req.status == 200) {
                        var result = req.responseText;
                        if (result) {
                            $("#id_error_msg").append(result);
                            document.getElementById('btn_emp').disabled = true;
                        } else {
                            document.getElementById('btn_emp').disabled = false;
                        }

                    } else {
                        alert("There was a problem while using XMLHTTP:\n" + req.statusText);
                    }
                }
            }
            req.open("POST", strURL, true);
            req.send(null);
        }

    }
    ;
    function get_employee_by_designations_id(designation_id) {
        var base_url = 'http://localhost/HRMS-FRESH/';
        var strURL = base_url + "admin/global_controller/get_employee_by_designations_id/" + designation_id;
        var req = getXMLHTTP();
        if (req) {
            req.onreadystatechange = function() {
                if (req.readyState == 4) {
                    // only if "OK"
                    if (req.status == 200) {
                        var result = req.responseText;

                        $("#employee").html("<option value='' >Select Employee...</option>");
                        $("#employee").append(result);

                    } else {
                        alert("There was a problem while using XMLHTTP:\n" + req.statusText);
                    }
                }
            }
            req.open("POST", strURL, true);
            req.send(null);
        }

    }
    ;
    function check_current_password(val) {
        var base_url = 'http://localhost/HRMS-FRESH/';
        var strURL = base_url + "admin/global_controller/check_current_password/" + val;
        var req = getXMLHTTP();
        if (req) {
            req.onreadystatechange = function() {
                if (req.readyState == 4) {
                    // only if "OK"
                    if (req.status == 200) {
                        var result = req.responseText;
                        if (result) {
                            $("#id_error_msg").css("display", "block");
                            document.getElementById('sbtn').disabled = true;
                        } else {
                            $("#id_error_msg").css("display", "none");
                            document.getElementById('sbtn').disabled = false;
                        }

                    } else {
                        alert("There was a problem while using XMLHTTP:\n" + req.statusText);
                    }
                }
            }
            req.open("POST", strURL, true);
            req.send(null);
        }

    }
    function check_employee_password(val) {

        var base_url = 'http://localhost/HRMS-FRESH/';
        var strURL = base_url + "employee/dashboard/check_employee_password/" + val;

        var req = getXMLHTTP();
        if (req) {
            req.onreadystatechange = function() {
                if (req.readyState == 4) {
                    // only if "OK"
                    if (req.status == 200) {
                        var result = req.responseText;
                        if (result) {
                            $("#id_error_msg").css("display", "block");
                            document.getElementById('sbtn').disabled = true;
                        } else {
                            $("#id_error_msg").css("display", "none");
                            document.getElementById('sbtn').disabled = false;
                        }

                    } else {
                        alert("There was a problem while using XMLHTTP:\n" + req.statusText);
                    }
                }
            }
            req.open("POST", strURL, true);
            req.send(null);
        }

    }
    ;


                        </script>
                        <h4><a href="https://localhost:44303/EmployeePages/New_leave"><i class="fa fa-plus"></i> Apply New Leave Application</a></h4>
                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-info">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <strong>Leave Applications You Applied</strong>
                                        </div>
                                    </div>
                                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                        <div class="row"><div class="col-sm-6"><div class="dataTables_length" id="dataTables-example_length"><label><select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> <b>Records per page</b></label></div></div><div class="col-sm-6"><div id="dataTables-example_filter" class="dataTables_filter"><label>Search:<input type="search" style="margin:0px 10px;" class="form-control input-sm" aria-controls="dataTables-example"></label></div></div></div><table class="table table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                                            <thead>
                                                <tr style="font-size: 13px;color: #000000" role="row"><th class="col-sm-2 sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Leave Category: activate to sort column ascending" style="width: 164px;">Leave Category</th><th class="col-sm-1 sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending" style="width: 73px;">Start Date</th><th class="col-sm-1 sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="End Date: activate to sort column ascending" style="width: 73px;">End Date</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Reason: activate to sort column ascending" style="width: 533px;">Reason</th><th class="col-sm-1 sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Applied On: activate to sort column ascending" style="width: 73px;">Applied On</th><th class="col-sm-1 sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 73px;">Status</th></tr>
                                            </thead>
                                            <tbody style="margin-bottom: 0px;background: #FFFFFF;font-size: 12px;">


                                                <tr class="odd">
                                                    <td class="sorting_1">eid</td>
                                                    <td class=" ">18 Jun 2019</td>
                                                    <td class=" ">18 Jun 2019</td>
                                                    <td class=" "></td>
                                                    <td class=" ">18 Jun 2019</td>
                                                    <td class=" "><span class="label label-success">Accepted</span>                                    </td>
                                                </tr>
                                            </tbody>
                                        </table><div class="row"><div class="col-sm-6"><div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">Showing 1 to 1 of 1 entries</div></div><div class="col-sm-6"><div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate"><ul class="pagination"><li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="#">Previous</a></li><li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">1</a></li><li class="paginate_button next disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">Next</a></li></ul></div></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>