@page
@model HR_Management_System.Pages.CareerPages.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_CareerLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HR Management System





<h1>Change Password</h1>

<form role="form" method="post" class="form-horizontal form-groups-bordered" asp-page-handler="ChangePassword">
    <div class="col-sm-12 wrap-fpanel">
        <div class="panel panel-default" data-collapsed="0">
           
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-4 control-label">Old Password <span class="required" aria-required="true"> *</span></label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" placeholder="Enter Your Old Password" asp-for="OldPassword">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                        @if (Model.OldPasswordDidntMatch == true)
                        {
                            <span class="text-danger">Old password didn't match</span>
                        }

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">New Password <span class="required" aria-required="true"> *</span></label>
                    <div class="col-sm-7">
                        <input type="password" asp-for="NewPassword" class="form-control" placeholder="Enter Your New Password">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Confirm Password <span class="required" aria-required="true"> *</span></label>
                    <div class="col-sm-7">
                        <input type="password" asp-for="NewPassword2" class="form-control" placeholder="Enter Your Retype Password">
                        <span asp-validation-for="NewPassword2" class="text-danger"></span>
                        @if (Model.NewPasswordDidntMatch == true)
                        {
                            <span class="text-danger">Password didn't match</span>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-5">
                        <button type="submit" id="sbtn" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</form>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}