@page
@model HR_Management_System.Pages.Make_a_cvModel
@{
    ViewData["Title"] = "Make_a_cv";
    Layout = "~/Views/Shared/_CareerLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HR Management System

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create CV</h6>
    </div>

    <form action="/" method="post">
        <div class="card-body">
            <div>
                <h5 class="text-gray-900">Personal Details</h5>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">First Name <span class="required" aria-required="true">*</span></label>
                                <div>
                                    <input type="text" class="form-control" placeholder="Enter First Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Last Name <span class="required" aria-required="true">*</span></label>
                                <div>
                                    <input type="text" class="form-control" placeholder="Enter Last Name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Father Name <span class="required" aria-required="true">*</span></label>
                                <div>
                                    <input type="text" class="form-control" placeholder="Enter Father Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Mother Name <span class="required" aria-required="true">*</span></label>
                                <div>
                                    <input type="text" class="form-control" placeholder="Enter Mother Name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Present Address <span class="required" aria-required="true">*</span></label>
                                <div>
                                    <textarea class="form-control" placeholder="Enter Present Address" style="max-height:150px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Permanent Address<span class="required" aria-required="true">*</span></label>
                                <div>
                                    <textarea class="form-control" placeholder="Enter Permanent Address" style="max-height:150px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <img src="~/img/user.png" alt="Alternate Text" class="img-profile rounded-circle shadow" style="border:solid white 3px;" width="120" height="120" />
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <button style="width:130px;" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Phone Number <span class="required" aria-required="true">*</span></label>
                        <div>
                            <input type="text" class="form-control" placeholder="Enter Phone Number">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Mobile Number <span class="required" aria-required="true">*</span></label>
                        <div>
                            <input type="text" class="form-control" placeholder="Enter Mobile Number">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Date of Birth <span class="required" aria-required="true">*</span></label>
                        <div>
                            <input id="datepicker" width="276" />

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mt-auto">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">Select Gender</option>
                        </select>
                    </div>
                </div>
                <div class="col-4 mt-auto">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">Select Marritual Status</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="field-1" class="control-label">National ID Card <span class="required" aria-required="true">*</span></label>
                        <div>
                            <input type="text" class="form-control" placeholder="Enter National ID Card">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mt-auto">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">Select Religion</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Nationality <span class="required" aria-required="true">*</span></label>
                        <div>
                            <input type="text" class="form-control" placeholder="Enter Your Nationality">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Personal Email <span class="required" aria-required="true">*</span></label>
                        <div>
                            <input type="text" class="form-control" placeholder="Enter Email Address">
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row mt-4">
               <h5 class="text-gray-900 d-flex align-items-center">Educational Details</h5>
                <a href="#" onclick="AddMoreEducationDetailsRow()" class="d-flex align-items-center mb-2 ml-4">+ Add More</a>
            </div>

            <table class="table" id="EducationDetailsTable" width="100%" cellspacing="0">
               
               <tbody>
                   <tr>
                       <td>
                           <div class="mt-auto">
                               1
                           </div>
                       </td>
                       <td>
                           <div class="form-group">
                               <label class="control-label">Qualification<span class="required" aria-required="true">*</span></label>
                               <div>
                                   <input type="text" class="form-control" placeholder="Enter Qualification">
                               </div>
                           </div>

                           <div class="form-group">
                               <label class="control-label">Passing Year<span class="required" aria-required="true">*</span></label>
                               <div>
                                   <input type="text" class="form-control" placeholder="Enter Passing Year">
                               </div>
                               
                           </div>
                       </td>
                       <td>
                           <div class="form-group">
                               <label class="control-label">Subject <span class="required" aria-required="true">*</span></label>
                               <div>
                                   <input type="text" class="form-control" placeholder="Enter Subject">
                               </div>
                           </div>

                           <div class="form-group">
                               <label class="control-label">Grade.Result <span class="required" aria-required="true">*</span></label>
                               <div>
                                   <input type="text" class="form-control" placeholder="Enter Grade">
                               </div>

                           </div>
                       </td>
                       <td>
                           <div class="form-group">
                               <label class="control-label">Institute/University <span class="required" aria-required="true">*</span></label>
                               <div>
                                   <input type="text" class="form-control" placeholder="Enter Institute">
                               </div>

                           </div>
                           @*<div>
                               <button class="btn btn-danger" onclick="RemoveEducationDetailsRow(this)" style="margin-top:30px;">Remove</button>
                           </div>*@
                       </td>
                   </tr>

               </tbody>
            </table>
        </div>
    </form>

</div>





<script type="text/javascript">
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>