@page
@model HR_Management_System.Pages.CareerPages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HR Management System



<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <img class="col-lg-6" src="~/img/male-handshake.jpg" style="background-size:contain; background-position:center;" />

                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Register As New User</h1>
                            </div>
                            <form class="user" method="post">

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="exampleInputFirstName" asp-for="FirstName" placeholder="First Name">
                                    <small><span asp-validation-for="FirstName" class="text-danger"></span></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="exampleInputLastName" asp-for="LastName" placeholder="Last Name">
                                    <small><span asp-validation-for="LastName" class="text-danger"></span></small>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" asp-for="Email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    @if (Model.EmailExist == true)
                                    {
                                        <small><span class="text-danger">Email exist. Try another email</span></small> 
                                    }
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" asp-for="Password" placeholder="Password">
                                    <small> <span asp-validation-for="Password" class="text-danger"></span></small>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" asp-for="Password2" placeholder="Confirm Password">
                                    <small> <span asp-validation-for="Password2" class="text-danger"></span></small>

                                    @if (Model.PasswordDidntMatch == true)
                                    {
                                        <small><span class="text-danger">Password didn't match</span></small>
                                    }
                                </div>


                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register
                                </button>


                            </form>
                            <hr />


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>







@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

