@page
@model HR_Management_System.Pages.CareerPages.Req_DetailsModel
@{
    ViewData["Title"] = "Req_Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-12">

        <div class="panel panel-info">
            <!-- Default panel contents -->

            <div class="panel-heading">
                <div class="panel-title">
                    <strong>Recruuitment Notice Details</strong>
                </div>
            </div>
            <div>

            </div>
            <div class="panel-body form-horizontal">
                <div class="col-md-12 notice-details-margin">
                    <div class="col-sm-4">
                        <label class="control-label"><strong>Title:</strong></label>
                    </div>
                    <div class="col-sm-8">
                        <p class="form-control-static">EID</p>
                    </div>
                </div>
                <div class="col-md-12 notice-details-margin">
                    <div class="col-sm-4" style="margin-top: 8px;">
                        <label class="control-label"><strong>Department:</strong></label>
                    </div>
                    <div class="col-sm-8">
                        <p class="form-control-static text-justify">hr</p>
                    </div>
                </div>

                <div class="col-md-12 notice-details-margin">
                    <div class="col-sm-4" style="margin-top: 8px;">
                        <label class="control-label"><strong>Designation:</strong></label>
                    </div>
                    <div class="col-sm-8">
                        <p class="form-control-static text-justify">admin</p>
                    </div>
                </div>

                <div class="col-md-12 notice-details-margin">
                    <div class="col-sm-4" style="margin-top: 8px;">
                        <label class="control-label"><strong>Number of Vacancy:</strong></label>
                    </div>
                    <div class="col-sm-8">
                        <p class="form-control-static text-justify">1</p>
                    </div>
                </div>

                <div class="col-md-12 notice-details-margin">
                    <div class="col-sm-4" style="margin-top: 8px;">
                        <label class="control-label"><strong>Last date:</strong></label>
                    </div>
                    <div class="col-sm-8">
                        <p class="form-control-static text-justify">25/07/2019</p>
                    </div>
                </div>
                <div class="col-md-12 notice-details-margin">
                    <div class="col-sm-4" style="margin-top: 8px;">
                        <label class="control-label"><strong>Description:</strong></label>
                    </div>
                    <div class="col-sm-8">
                        <p class="form-control-static text-justify">this is the details of eid</p>
                    </div>
                </div>
                <div class="col-md-12 notice-details-margin">
                    <div class="col-sm-4">
                        <label class="control-label"><strong>Published Date:</strong></label>
                    </div>
                    <div class="col-sm-8">
                        <p class="form-control-static"><span class="text-danger">09 Jun 2019</span></p>
                    </div>
                </div>

            </div>


        </div>
    </div>