@page
@model HR_Management_System.Pages.CareerPages.ViewCVModel
@{
    ViewData["Title"] = "ViewCV";
    Layout = "~/Views/Shared/_CareerLayout.cshtml";
}


<center><h3>View CV Detail</h3></center>


<div class="card shadow mb-4">

    <div class="card-body p-0">
        <div class="p-0" style="height:300px; background-color:dimgray;">

        </div>
        <div class="d-flex flex-row" style="margin-top:-250px; margin-left:40px; height:100%;">
            <div style="height:100%; width:350px; background-color:whitesmoke;">
                <div class="p-4">
                    <div class="d-flex justify-content-center">
                        <img id="CVProfileImg" src="~/img/user.png" alt="Alternate Text" class="img-profile rounded-circle shadow" style="border:solid white 3px; margin-top:20px;" width="150" height="150" />
                    </div>

                    <div class="d-flex justify-content-end" style="margin-top:100px;">
                        <div>
                            <h5 style="text-align:right;" class="text-black-50">C O N T A C T</h5>
                            <div class="d-flex justify-content-end mt-4">
                                <p class="mr-2">Civil Aviation High School</p>
                                <span class="oi" data-glyph="map-marker"></span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <p class="mr-2">+8801670074271</p>
                                <i class="fas fa-phone text-black-50"></i>
                            </div>
                            <div class="d-flex justify-content-end">
                                <p class="mr-2">+8801670074271</p>
                                <i class="fas fa-phone text-black-50"></i>
                            </div>
                            <div class="d-flex justify-content-end">
                                <p class="mr-2">shakir.sha95@gmail.com</p>
                                <span>  <i class="fas fa-envelope text-black-50"></i></span>
                            </div>
                            <div style="width:300px; height:2px;" class="bg-dark" />
                        </div>

                    </div>
                </div>
            </div>

            <div>
                <div class="text-gray-100">
                    <p>Hello, I am</p>
                    <div>
                        <h3 class="text-black-50">SHAKIR AHMED</h3>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
