@page
@model HR_Management_System.Pages.Recruitment_Applicant_ListModel
@{
    ViewData["Title"] = "Recruitment_Applicant_List";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";

}
<center><h1>Applicant List</h1></center>


<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 wrap-fpanel" data-offset="0">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="panel-title">
                            <span>
                                <strong>Recruitment Applicant List</strong>
                            </span>
                        </div>

                        <!-- Table -->
                    </div>
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row">
                       
                        <div class="col-sm-12">
                            <div id="dataTables-example_filter" class="dataTables_filter">
                                    <label>Search:<input type="search" style="margin:0px 10px;" class="form-control input-sm" aria-controls="dataTables-example"></label>
                            </div>
                        </div>
                     </div>
                            <table class="table table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr role="row">
                                    <th class="col-sm-1 sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column ascending" style="width: 73px;">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Full Name: activate to sort column ascending" style="width: 116px;">Full Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Department: activate to sort column ascending" style="width: 125px;">Department</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Designation: activate to sort column ascending" style="width: 125px;">Designation</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Date of Application: activate to sort column ascending" style="width: 132px;">Date of Application</th>
                                
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="View Details: activate to sort column ascending" style="width: 162px;">View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd">
                                    <td class="sorting_1">112</td>
                                    <td class=" ">Ovijit Roy</td>
                                    <td class=" ">Marketing</td>
                                    <td class=" ">Manager</td>
                                    <td class="">20 oct 2019</td>
                                    
                                    
                                    <td class="hidden-print "><a href="https://localhost:44303/AdminPages/Recruitment/Applicant_details" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">View</a></td>
                                    
                                </tr>
                            </tbody>
                        </table></div>
                </div>
            </div>
        </div>

    </div>

</body>

