@page
@model HR_Management_System.Pages.AdminPages.Recruitment.SelectApplicantModel
@{
    ViewData["Title"] = "SelectApplicant";
    Layout = "~/Views/Shared/_CareerLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HR Management System



<center><h3>Define Interview Date</h3></center>


<div>
    <form  method="post">


    </form>
</div>




