@page
@model HR_Management_System.Pages.AdminPages.Notice.ViewNoticeDetailsModel
@{
    ViewData["Title"] = "ViewNoticeDetails";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HR Management System

<div class="col-md-12">

    <div class="panel panel-info">
        <!-- Default panel contents -->

        <div class="panel-heading">
            <div class="panel-title">
                <strong>Notice Details</strong>
            </div>
        </div>
        <div>

        </div>
        <div class="panel-body form-horizontal">
            <div class="col-md-12 notice-details-margin">
                <div class="col-sm-4">
                    <label class="control-label"><strong>Title:</strong></label>
                </div>
                <div class="col-sm-8">
                    <p class="form-control-static">@Model.Notice.Title</p>
                </div>
            </div>
            <div class="col-md-12 notice-details-margin">
                <div class="col-sm-4" style="margin-top: 8px;">
                    <label class="control-label"><strong>Description:</strong></label>
                </div>
                <div class="col-sm-8">
                    <rich-description description="@Model.Notice.Description"></rich-description>

                </div>
             
            </div>
            <div class="col-md-12 notice-details-margin">
                <div class="col-sm-4">
                    <label class="control-label"><strong>Published Date:</strong></label>
                </div>
                <div class="col-sm-8">
                    <p class="form-control-static"><span class="text-danger">@Model.Notice.CreatedDate.ToShortDateString()</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<td class=" "><a href='javascript:history.go(-1)' class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">Go Back</a></td>


