@page
@model HR_Management_System.Pages.AdminPages.Settings.AddHolidayModel
@{
    ViewData["Title"] = "AddHoliday";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<center><h1>Add Holiday</h1></center>

<div class="row">
    <div class="col-sm-12">
        <div class="wrap-fpanel">
            <div class="panel panel-default" data-collapsed="0">
                <div class="panel-heading">
                    @*<div class="panel-title">
                            <strong>Add Holiday</strong>
                        </div>*@
                </div>
                <div class="panel-body">
                    <form id="form" action="http://localhost/HRMS-FRESH/admin/settings/save_holiday/" method="post" class="form-horizontal form-groups-bordered" novalidate="novalidate">
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Event Name<span class="required" aria-required="true"> *</span></label>

                            <div class="col-sm-5">
                                <input type="text" name="event_name" class="form-control" value="" id="field-1" placeholder="Enter Your Event Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Description<span class="required" aria-required="true"> *</span></label>

                            <div class="col-sm-5">
                                <textarea style="height: 100px" name="description" class="form-control" id="field-1" placeholder="Enter Your Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Start Date<span class="required" aria-required="true">*</span></label>
                            <div class="input-group col-sm-5">
                                <input type="date" class="form-control datepicker" name="start_date" value="">

                                <div class="input-group-addon">
                                    <a href="#"><i class="entypo-calendar"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">End Date<span class="required" aria-required="true">*</span></label>
                            <div class="input-group col-sm-5">
                                <input type="date" class="form-control datepicker" name="end_date" value="">

                                <div class="input-group-addon">
                                    <a href="#"><i class="entypo-calendar"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group margin">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" id="sbtn" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>