@page
@model HR_Management_System.Pages.LeaveCategoryModel
@{
    ViewData["Title"] = "LeaveCategory";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
    <body>
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="wrap-fpanel">
                        <div class="panel panel-default" data-collapsed="0">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <strong>Add Leave Category</strong>
                                </div>
                            </div>
                            <div class="panel-body">

                                <form id="form" action="http://localhost/HRMS-FRESH/admin/settings/save_leave_category/" method="post" class="form-horizontal form-groups-bordered" novalidate="novalidate">

                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Leave Category <span class="required" aria-required="true">*</span></label>

                                        <div class="col-sm-5">
                                            <input type="text" name="category" value="" class="form-control" placeholder="Enter Your leave Category Name">
                                        </div>

                                        <div class="col-sm-2">
                                            <input type="text" name="category" value="" class="form-control" placeholder="Days">
                                        </div><div>
    <div class="col-sm-2">
        <button type="submit" id="sbtn" class="btn btn-primary">Save</button>
    </div>
</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-sm-12" data-offset="0">
                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <strong>Leave Category List</strong>
                                    </div>
                                </div>

                                <!-- Table -->
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th class="col-sm-1">Category Name</th>
                                            <th>Days</th>
                                            <th class="col-sm-2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <a href="http://localhost/HRMS-FRESH/admin/settings/leave_category/1" class="btn btn-primary btn-xs" title="" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                                <a href="http://localhost/HRMS-FRESH/admin/settings/delete_leave_category/1" class="btn btn-danger btn-xs" title="" data-toggle="tooltip" data-placement="top" onclick="return confirm('You are about to delete a record. This cannot be undone. Are you sure?');" data-original-title="Delete"><i class="fa fa-trash-o"></i>Delete</a>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
